/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html, body {
  margin: 0;
  border: 0;
}

body {
  background-color: #4D4D80;
}

nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  border: 0;
  top: 0;
  display: flex;
  clear: both;
  background: #222668;
  flex-direction: column;
  align-items:flex-start;
}

nav a {
  padding: 1.25em .25em;
  color: #ccc;
  background: #222668;
  position: relative;
  text-decoration: none;
  transition: all 1.5s;
}

.top {
  margin-top:80px;
}

p, h1, h2, h3, a {
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 10pt;
  color: black;
}

h1 {
  font-size: 16pt;
}

h1, .desc {
  color: white;
}


hr {
  width: 60%;
}

h2 {
  font-size: 14pt;
  color: black;
}

h3, label, span {
  font-size: 12pt;
  color: black;
}

.desc {
  font-size: 14pt;
  font-style: italic;
}

#logo {
  float: left;
  width: 127px;
  height: 70px;
}

#ign, #destructoid {
  width: 80%;
  height: 100%;
}

#metacritic, #nintendo-life, #gamespot, #christ-centered-gamer {
  width: 45%;
  height: 40px;
}

#game-informer {
  width: 40%;
  height: 30px;
}

.menu {
  float: right;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 2em;
  position: relative;
}

.right-nav {
  display: none;
  clear: both;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 50px;
  height: 6px;
  background-color: white;
  margin: 12px 10px;
}

.container, .reviewsContainer, .left-nav {
  width: 100%;
  text-align: center;
}

.rule-container {
  width: 100%;
}

.comp-container, .logo-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.star-container {
  display: inline-block;
  position: relative;
  direction: rtl;
  width: 100%;
}

.rating-star, #star {
  unicode-bidi: bidi-override;
  width: 20%
}

.rating-star:after {
    content: "\2606";
    color: white;
}

  .star-container > .rating-star:hover:after,
  .star-container > .rating-star:hover ~ .rating-star:after, #star:after {
    content: "\2605";
    color: yellow;
  }

.stars-container {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

#star {
  position: relative;
  top: 25%;
}

.rating-container {
  position: relative;
  width: 60%;
  left: 20%;
  min-height: 50px;
}

.row-heading{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.row-centered, .full-row{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  left: 10%;
  width: 80%;
}

.review-container {
  position: relative;
  text-align: center;
  left: 10%;
  width: 80%;
  min-height: 50px;
  max-height: 300px;
}

input[type=text], textarea {
  position: relative;
  width: 90%;
}

button, .buttonDel {
  position: relative;
  width: 40%;
  left: 30%;
}

.texting {
  height: 50px;
}

.starlight {
  height: 50px;
}

.textareas {
  min-height:100px;
  max-height: 300px;
}

.uploading {
  height: 50px;
}

#upload {
  position: relative;
  top:15%;
  height: 70%;
}

.buttonDelRow {
  height: 50px;
}

.buttonDel {
  top: 20%;
}

.col-left, .col-extrev-left-sm,.col-extrev-left-lg , .col-left-sm {
    float: left;
}

.col-extrev-left-sm, .col-extrev-left-lg , .col-extrev-right-sm, .col-extrev-right-lg {
  position: relative;
}

.col-left {
  width: 100%;
}

.col-left-sm {
  width: 25%;
}

.col-right, .col-extrev-right-sm,.col-extrev-right-lg , .col-right-lg {
    float: right;
}

.col-right {
  width: 100%;
}

.col-extrev-left-sm, .col-extrev-right-sm {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

 .col-extrev-left-lg, .col-extrev-right-lg{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.col-right-lg {
  width: 75%;
}

.col-inner {
  width:80%;
}

.col-outer{
 width:10%;
}

.full-col-inner {
  width: 90%;
}

.full-col-outer {
  width: 5%;
}

.full-col-outer-left {
  width: 2%;
}

.ext-inner {
  left: 10%;
}

.smallCol, .smallCol-centered {
  flex-direction: column;
  position: relative;
  display: flex;
  text-align: center;
  width: 100%;
}

.smallRow {
  flex-direction: row;
  position: relative;
  display: flex;
  text-align: center;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bgGrey {
  background-color: #4D4D80;
}

.bgLightPurple {
  background-color: #BFBFFE;
}

.bgPurple {
  background-color: #8080FE;
}

.centered, .desc {
  align-items:center;
}

.paddingSmall {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingSmallTop {
  padding-top: 20px;
}

.paddingSmallBottom {
  padding-bottom: 20px;
}

.paddingMedium {
  padding-top: 40px;
  padding-bottom: 40px;
}

.paddingMediumBottom {
  padding-bottom: 40px;
}

.paddingLargeBottom {
  padding-bottom: 100px;
}
.txtBlack {
  background-color: black;
  border-color: black;
  color: black;
}
/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  #logo {
      width: 140px;
      height: 100px;
    }

    #ign, #destructoid {
      width: 100px;
      height: 100px;
    }

    #metacritic, #nintendo-life, #gamespot {
      width: 100px;
      height: 40px;
    }

    #christ-centered-gamer {
      width: 100px;
      height: 60px;
    }

    #game-informer {
      width: 100px;
      height: 30px;
    }

    .left-nav {
      width: 20%;
    }

    .right-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .top {
      margin-top:110px;
    }

    .col-left, .col-right {
      flex-direction: column;
      width: 50%;
    }

    .full-row {
      width: 90%;
      left: 5%;
    }

    .full-col-inner {
      width: 90%;
    }

    .full-col-outer {
      width: 5%;
    }

    .full-col-outer-left {
      width: 4.5%;
    }

    .col-extrev-right-sm, .col-extrev-right-lg {
      flex-direction: column;
      justify-content: center;
      order: 2;
    }

    .col-extrev-left-lg {
        margin-left: 20px;
    }

    .col-extrev-right-lg {
      margin-right: 20px;
    }
    .col-extrev-left-sm, .col-extrev-left-lg {
      flex-direction: column;
      justify-content: center;
      order: 1;
    }

    .col-extrev-right-sm, .col-extrev-left-sm {
      width: 40%;
    }

    .col-extrev-right-lg, .col-extrev-left-lg {
      width: 60%;
    }

    .smallCol, .smallCol-centered {
      flex-direction: row;
    }

    .smallCol-centered {
       left: 10%;
       width:80%;
       justify-content: center;
    }

    .ext-inner {
      left: 0;
    }

    .smallRow {
      flex-direction: column;
    }

    form {
      background-color: #222668;
      color: #ccc;
    }

    nav a:hover {
      color: #dfd;
      background: #3E40AE;
    }

    nav, nav:hover {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    nav a {
      padding: 1.25em .3em;
      justify-content: flex-end;
    }

    p, ol {
        font-family: arial, sans-serif;
        font-size: 16pt;
      }

      h1, h2{
        font-family: arial, sans-serif;
        font-size: 20pt;
      }

      ol {
        list-style-position: outside;
        text-align: left;
      }

      li {
        margin-bottom: .5em
      }

      button, .buttonDel {
        position: relative;
        width: 20%;
        left: 40%;
      }

      .menu {
        display: none;
     }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  nav a {
      padding: 1.25em 1em;
    }

    #ign, #destructoid {
      width: 150px;
      height: 150px;
    }

    #metacritic, #nintendo-life, #gamespot {
      width: 150px;
      height: 65px;
    }

    #christ-centered-gamer {
      width: 150px;
      height: 80px;
    }

    #game-informer {
      width: 150px;
      height: 55px;
    }

}
